<h1>Lista de Frutas</h1>


   @foreach (var item in ViewBag.Frutas)
    {
        <p>
        Codigo: @item.Id <br>
        Frutas @item.Nome <br>
        Preço: @item.Preco <br>
        Quantidade em Estoque: @item.Quantidade <br>
        Categoria: @item.Categoria
        </p>
      
    }
